img{
    border-radius: 20px;
    background: #f2f2f5;
    box-shadow: 0 6px 10px rgba(34, 15, 142, 0.777), 0 0 6px rgba(31, 20, 151, 0.727);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 20px 18px 36px;
  cursor: pointer;
}

img:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(48, 20, 159, 0.12), 0 4px 8px rgba(19, 16, 155, 0.06);
}